{% extends "layout.html" %}

{% block title %}
OAuth Authorization Server
{% endblock %}

{% block content %}
  <h2>Approve this client?</h2>
  <ul>
    <li>
      <b>Client Name: </b>
      <code>{{app.clientName}}</code>
    </li>
    {% for name, value in request %}
    <li>
      <b>{{name}}: </b>
      <code>{{value}}</code>
    </li>
    {% endfor %}
  </ul>


  <form class="form" action="/authorize" method="POST">
    <div>
      <input type="hidden" name="appId" value="{{app.id}}">
      <input type="hidden" name="redirectUri" value="{{client.redirect_uri}}">
      <input type="hidden" name="state" value="{{client.state}}">
    </div>
    
    <input type="submit" class="btn btn-success" name="approve" value="Approve">
    <input type="submit" class="btn btn-danger" name="deny" value="Deny">
  </form>
{% endblock %}